body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    color: #BEA376;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #BEA376;
}

#game-container, #settings-container, #password-container {
    margin-top: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    width: calc(100% - 24px);
    max-width: 300px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#entry-button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 300px; /* Initial width */
}

#entry-prompt {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

#player-role {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

#settings-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    cursor: pointer;
}

#settings-link:hover {
    text-decoration: underline;
}

#announcement {
    font-size: 1.5em;
    color: #544502; /* Updated announcement color */
}
