body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    color: #BEA376;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #BEA376;
}

#game-container, #settings-container, #password-container {
    margin-top: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    width: calc(100% - 24px);
    max-width: 300px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#entry-button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 300px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1001;
}

#entry-prompt {
    margin-top: 20px;
    font-size: 1.2em;
}

#player-role {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

#settings-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    cursor: pointer;
    position: relative;
    z-index: 1002;
}

#settings-link:hover {
    text-decoration: underline;
}

#announcement {
    font-size: 1.5em;
    color: #544502;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.typing-indicator {
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 4px solid;
    animation: typing 5s steps(60, end) 1s 1 normal both;
}

.small-text {
    font-size: 0.8em;
    color: #999;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#off-mode-message {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 80%;
    z-index: 1002;
}

#password-container {
    transition: transform 0.5s ease-in-out;
    transform: translateY(-100%);
}

#password-container.show {
    transform: translateY(0);
}

@keyframes wiggle {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.wiggle {
    animation: wiggle 0.5s ease-in-out;
}

#entry-button.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    object-fit: cover;
    transition: all 2s ease;
}

#off-mode-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-align: center;
    z-index: 1002;
}

.game-setup-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.game-setup-container h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.game-setup-container p {
    font-size: 1.1em;
    color: #202741;
    line-height: 1.5;
}

#game-settings-form {
    margin-top: 20px;
}

#game-settings-form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#game-settings-form button {
    padding: 10px 20px;
    background-color: #202741;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#game-settings-form button:hover {
    background-color: #333;
}

.hidden {
    display: none;
}

.typewriter p {
    display: block;
    margin: 0 auto;
    border-right: .15em solid #202741;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(100%);
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #202741; }
}

#waiting-room-message {
    font-size: 1.2em;
    color: #202741;
}

#ellipsis {
    display: inline-block;
}
