body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em;
    color: #BEA376;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #BEA376;
}

#game-container, #settings-container, #password-container {
    margin-top: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input {
    width: calc(100% - 24px);
    max-width: 300px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#entry-button {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 300px;
    transition: width 0.3s ease;
}

#entry-prompt {
    margin-top: 20px;
    font-size: 1.2em;
}

#player-role {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

#settings-link {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
    cursor: pointer;
}

#settings-link:hover {
    text-decoration: underline;
}

#announcement {
    font-size: 1.5em;
    color: #544502;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 4px solid;
    animation: typing 5s steps(60, end) 1s 1 normal both;
}

.small-text {
    font-size: 0.8em;
    color: #999;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 5px;
}
